@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
}

#root {
    background: var(--background); 
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --background: #0f0f0f;
    --list-bg: #27292b;
    --dashboard-bg: #3a3b3c;
    --theme-color: #1ed760;
    --theme-color-darker: #17a248;
    --text-color: #eee;
    --text-color-darker: #ddd;
    --text-color-darkest: #999;
    --highlight-outline: #75747a;
}

.dot::before {
  content: "•";
  margin: 0 4px;
}
  

.playlists {
  display: flex;
  flex-flow: column;
}
 
@media (min-width: 640px) {
  .playlists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9999, max-content);
  }
}

@media (min-width: 1400px) {
  .playlists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9999, max-content);
  }
}